body {
    background-color:cornsilk;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}
.name {
    background-color:burlywood;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.footer-block{
    background-color:burlywood;

}